.btn
	position: relative
	display: inline-block
	height: 42px
	border: none
	outline: none
	padding: 0 65px
	border-radius: 4px
	background: $accent
	text-align: center
	text-transform: uppercase
	font-size: 16px
	color: #fff
	line-height: 42px
	font-weight: 700
	letter-spacing: .2px
	transition: all .3s

	&:hover, &:focus
		outline: none
		border: none
		text-decoration: none
		cursor: pointer
		box-shadow: 0 5px 10px rgba($text, .4)
		color: #fff


	&__blue
		background: #fff
		color: $text
		border: 2px solid $text

		&:hover, &:focus
			color: $text
			border: 2px solid $text

		&--active
			background: $text
			border: 2px solid $text
			color: #fff

			&:hover, &:focus
				color: #fff
				border: 2px solid $text

	&__green
		background: #fff
		color: #28ab3b
		border: 2px solid #28ab3b

		&:hover, &:focus
			color: #28ab3b
			border: 2px solid #28ab3b

		&--active
			background: #28ab3b
			color: #fff
			border: 2px solid #28ab3b

			&:hover, &:focus
				color: #fff
				border: 2px solid #28ab3b

	&__no-active
		border: 2px solid #ccc
		color: #ccc
		background: #fff
		padding: 0 43px

		&:hover, &:focus
			color: #ccc
			border: 2px solid #ccc



