
@media only screen and (max-width : 1200px)
	
	.nav
		li
			margin-right: 35px

	.hero
		padding: 250px 0

	.section
		padding: 65px 0

	h2
		margin-bottom: 40px

	.footer p
		margin-right: 0

	.page--sell
		.btn
			padding: 0 40px
			margin-bottom: 10px

		h2
			margin-top: 0
			margin-bottom: 40px

		&__block
			margin-bottom: 40px
			flex-wrap: wrap

		&__content
			margin-bottom: 40px


@media only screen and (max-width : 992px)
	.page--sell
		.main
			padding-top: 150px


	.nav
		position: fixed
		display: block
		width: 320px
		height: 100%
		flex-direction: column
		right: -100%
		top: 69px
		z-index: -1
		background-color: rgba(1, 46, 135, 1)
		transition: all .3s
		margin: 0

		ul
			display: flex
			flex-direction: column
			justify-content: center
			margin-top: 40px
			margin-left: 40px

		li
			margin: 0
			margin-bottom: 10px

		a
			color: #fff
		
		&--active
			right: 0

	.hamburger
		display: block
		z-index: 1001
		right: 30px
	
	.footer
		.nav
			display: none
	
	.page--form
		.main
			padding: 150px 0

@media only screen and (max-width : 767px)
	h1
		font-size: 40px
		margin-bottom: 40px

	h2
		font-size: 30px

	.header
		&__language
			width: 10%
			text-align: right

	.hero
		padding: 150px 0
		&__block
			flex-direction: column

			&_img
				width: 100%

			img
				width: 100%

	.footer .header__logo
		margin-right: 0


	.contacts
		&-top
			padding: 40px 0

		h2
			margin-bottom: 30px

		&-center
			padding: 40px 0

	.page--form
		.form
			padding: 40px


@media only screen and (max-width : 576px)
	.contacts
		&-top
			padding: 40px 0
			&__item
				width: 100%
				margin-bottom: 30px

	
	.page--form
		.main
			padding: 100px 0 50px 0
		
		.form
			&__block
				flex-direction: column

				&:nth-child(3)
					margin-bottom: 20px

				&:nth-child(4)
					margin-bottom: 20px

				&:last-child
					flex-direction: row

			.btn
				margin-bottom: 20px


@media only screen and (max-width : 480px)
	h1
		font-size: 34px

	h2
		font-size: 28px
	
	.header
		&__logo
			font-size: 12px

			img
				width: 30px
				height: 30px

		&__language
			width: 20%

	.nav
		top: 58px

	.hero
		padding: 100px 0

	
	.contacts
		.main
			padding-top: 58px






