@import "libs"
@import "base"

.soc
	position: fixed
	top: 300px
	left: 0
	display: flex
	flex-direction: column
	z-index: 100

	&__item
		width: 45px
		height: 45px
		background: #fff
		margin-bottom: 2px
		position: relative
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3)

		&:hover
			img
				animation: hover .3s linear 1 forwards

	img
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		animation: hover-back .3s linear 1 forwards


.privacy
	display: flex
	flex-direction: column
	justify-content: space-between
	min-height: 100%

	.main
		min-height: 100vh


.header
	position: fixed
	right: 0
	left: 0
	padding: 5px 0
	transition: all .3s
	z-index: 1001
	color: #fff

	&--active
		background-color: rgba(1, 46, 135, 1)
		padding: 5px 0

	&--menu
		background-color: rgba(1, 46, 135, 1)
		padding: 5px 0

	&__container
		position: relative
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
	
	&__logo
		display: block
		font-weight: 800
		text-transform: uppercase
		color: #fff

		&:hover
			color: #fff

		img
			width: 60px
			height: 60px

	&__account
		position: relative
		font-weight: 700
		cursor: pointer
		padding: 5px 25px
		transition: all .3s

		&::before
			content: ''
			position: absolute
			top: 12px
			right: 5px
			width: 10px
			height: 10px
			border-left: 2px solid #fff
			border-top: 2px solid #fff
			transform: rotate(-135deg)
			transition: all .3s
			
		&--active
			background-color: rgba(1, 46, 135, 1)
			
			ul
				padding: 20px

			&::before
				top: 8px
				transform: rotate(45deg)

		&_list--active
			background-color: rgba(1, 46, 135, 1)

		&_list
			position: absolute
			left: 0
			width: 100%
			display: none
			padding: 0 25px

			&--active
				display: block
				
		a
			color: #fff
			&:hover
				text-decoration: underline

	&__language
		width: 2%

		a
			display: block
			color: #fff

			
		&_active
			font-weight: 800
			color: $accent !important


.nav
	margin: 0 10%

	ul
		display: flex
		flex-direction: row
		justify-content: space-around

	li
		margin-right: 55px

		&:nth-child(2)
			font-weight: 800

		&:last-child
			margin-right: 0

	a
		position: relative
		z-index: 1
		text-transform: uppercase
		font-size: 14px
		color: #fff
		transition: all .3s

		&::before
			content: ''
			transform: scale(0)
			transition: all .3s
			position: absolute
			left: 10%
			right: 10%
			bottom: -5px
			width: 80%
			height: 4px
			background-color: $accent
			z-index: -1

		&:hover, &:focus
			text-decoration: none

			&::before
				transform: scale(1)

.hero
	background-image: url(../img/hero-bg.png)
	background-position: 75% 0
	background-repeat: no-repeat
	background-size: cover
	padding-top: 300px
	padding-bottom: 430px

	&__block
		display: flex
		justify-content: space-around

		&_img
			position: relative
			width: 40%


		a
			position: absolute
			top: 60%
			right: 0
			padding: 15px 50px
			background: $accent
			line-height: 1
			text-transform: uppercase
			color: #fff
			font-weight: 800
			font-size: 24px
			transition: all .3s

			&:hover, &:focus
				transform: scale(1.03)
				box-shadow: 0 5px 5px 0 rgba($accent, .4)

.content-one
	padding-top: 65px
	padding-bottom: 200px

.info
	padding: 60px 0 30px
	background-image: url(../img/info-bg.png)

	&__list
		display: flex
		justify-content: space-around
		flex-wrap: wrap

	&__item
		width: 20%
		min-width: 200px
		text-align: center
		color: #fff
		text-transform: uppercase
		align-items: flex-start
		margin-bottom: 30px
		line-height: 1.1

	img
		margin-bottom: 35px
		max-height: 45px

.reviews
	padding-top: 115px
	padding-bottom: 140px

	&__item
		display: flex
		justify-content: space-between
		flex-wrap: wrap

	.swiper-container
		padding-bottom: 125px

	p
		position: relative
		width: 100%
		border: 1px solid #092153
		border-radius: 20px
		padding: 30px
		z-index: 1
		background: #fff

		&::before
			content: ''
			position: absolute
			left: 75px
			bottom: -20px
			border-bottom: 20px solid transparent
			border-left: 30px solid $text
			border-right: 20px solid transparent
			border-top: 20px solid transparent
			z-index: -1

		&::after
			content: ''
			position: absolute
			left: 75px
			bottom: -18px
			border-bottom: 20px solid transparent
			border-left: 30px solid #fff
			border-right: 20px solid transparent
			border-top: 20px solid transparent

	&__icon
		position: relative
		background: $text
		height: 100px
		width: 100px
		border-radius: 15px

	img
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		max-width: 90%
		max-height: 90%

	b
		text-transform: uppercase

	&__name
		display: flex
		flex-direction: column
		justify-content: flex-end
		text-align: right
		padding-bottom: 10px

	&__wrap
		position: absolute
		bottom: 0
		left: 0
		right: 0
		width: 105px
		margin: 0 auto

	.swiper-button-next, 
	.swiper-button-prev
		top: -5px
		width: 12px
		height: 12px
		background: none
		border-left: 3px solid $text
		border-top: 3px solid $text
		transform: rotate(-45deg)

	.swiper-button-next
		transform: rotate(135deg)

.footer
	background-image: url(../img/footer-bg.png)
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	padding-top: 35px
	padding-bottom: 50px

	&__up
		position: relative
		font-size: 14px

		a
			&:hover
				&::after
					top: -25px

			&::before,
			&::after
				content: ''
				position: absolute
				transition: all .3s

			&::before
				top: -30px
				left: -3px
				background: #fff
				width: 25px
				height: 25px

			&::after
				top: -20px
				left: 4px
				width: 10px
				height: 10px
				border-top: 3px solid $text
				border-left: 3px solid $text
				transform: rotate(45deg)

	.header__logo
		display: flex
		flex-direction: column
		align-items: center
		margin-right: 15%

		div
			margin-bottom: 10px

	p
		color: #fff
		text-transform: uppercase
		font-size: 14px
		line-height: 2.5
		margin-right: 5%

	a
		color: #fff

	.nav
		width: 30%

		ul
			flex-wrap: wrap

		li
			width: 50%
			margin-right: 0
			margin-bottom: 15px


@import "page"
@import "media" // Always at the end